/* UserProfile.css */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* full viewport height */
  background: #f5f5f5;
}

.profile-card {
  background: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
  text-align: center;
  height: 600px;
  width: 350px;
}

.profile-card h2 {
  margin-bottom: 20px;
  color: #333;
}

.profile-card p {
  margin: 8px 0;
  font-size: 25px;
  color: #555;
}
